<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Steganography Multi Tool</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

</head>

<body>

<header>

<div class="logo">

🔒 Steganography Multi Tool

</div>

<nav>

<a href="/">Home</a>

<a href="/image">Image</a>

<a href="/audio">Audio</a>

<a href="/pdf">PDF</a>

<a href="/text">Text</a>

</nav>

</header>


{% block content %}

{% endblock %}


<footer>

<p>

Developed by <b>Darshan Mutagond</b>

</p>

</footer>

</body>

</html>
